# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore temporary files
tmp
*.tmp

# Ignore build directories
dist
build

# Ignore environment variables
.env

# Ignore Dockerfile
Dockerfile

# Ignore Docker Compose files
docker-compose.yml

# Ignore any .git files
.git
.gitignore

# Ignore IDE specific files
.vscode
.idea
*.swp